@{
    ViewData["Title"] = "Confirmación de email";
    Layout = "~/Views/Shared/_LayoutAdminlteBlank.cshtml";
}

<div class="register-box-body bg-blue">
    <h2>Confirmación de Email</h2>
    <h3>Gracias por confirmar su email.</h3>
    <h3>
        <a href="@Url.Action("Index", "Config")" class="small-box-footer"><i class="fa fa-gear"></i> ¡Comencemos!</a>
    </h3>
</div>

