@{
    ViewData["Title"] = "Confirmación de Correo Electrónico";
    Layout = "~/Views/Shared/_LayoutAdminlteBlank.cshtml";
}

<div class="register-box-body bg-blue">
    <h2>Confirmación de Correo Electrónico</h2>
    <h3>Agradecemos la Confirmación de su Correo Electrónico.</h3>
    <h3>
        <a href="@Url.Action("Index", "Config")" class="small-box-footer"><i class="fa fa-gear"></i> Proceder a la Configuración</a>
    </h3>
</div>

