@{
    ViewData["Title"] = "Cuenta bloqueada";
    Layout = "~/Views/Shared/_LayoutAdminlteBlank.cshtml";
}
<div class="register-box-body bg-blue">
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Esta cuenta ha sido bloqueada, por favor intenta de nuevo más tarde.</p>
</div>
