@model LoginWithRecoveryCodeViewModel
@{
    ViewData["Title"] = "Verificación con código de recuperación";
}

<h2>@ViewData["Title"]</h2>
<hr />
<p>
    Has solicitado iniciar sesión con un código de recuperación. Este inicio de sesión no será recordado hasta que proporciones
    un código de la aplicación autenticadora al iniciar sesión o desactives la autenticación de dos factores (2FA) y vuelvas a iniciar sesión.
</p>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RecoveryCode"></label>
                <input asp-for="RecoveryCode" class="form-control" autocomplete="off" />
                <span asp-validation-for="RecoveryCode" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Iniciar sesión</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
