
@{
    ViewData["Title"] = "Registro Exitoso";
    Layout = "~/Views/Shared/_LayoutAdminlteBlank.cshtml";
}
<div class="register-box-body bg-blue">
    <h2>Registro Exitoso</h2>
    <h3>Hemos enviado un correo electrónico a tu dirección. Por favor, valida tu correo electrónico haciendo clic en el enlace que te hemos enviado.</h3>
</div>



