@{
    ViewData["Title"] = "Confirmación de restablecimiento de contraseña";
    Layout = "~/Views/Shared/_LayoutAdminlteBlank.cshtml";
}
<div class="register-box-body bg-blue">
    <h2>Restablecimiento Exitoso</h2>
    <h3>Tu contraseña ha sido restablecida. Por favor <a href="@src.MVC.Accounts.Login.FullUrl">haz clic aquí para iniciar sesión</a>.</h3>
</div>
