@using Microsoft.AspNetCore.Identity
@using src.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ApplicationUser appUser = await UserManager.GetUserAsync(User);
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="user-panel">
        <div class="pull-left image">
            <img src="../@appUser.ProfilePictureUrl" class="img-circle" alt="Imagen de Usuario">
        </div>
        <div class="pull-left info">
            <p>@appUser.FullName</p>
            <a href="#">
                <i class="fa fa-circle text-success"></i>
                @if (appUser.IsSuperAdmin)
                {
                    <span>En línea: <br> Super Administrador</span>
                }
                else if (appUser.IsCustomer)
                {
                    <span>En línea: <br> Colaborador</span>
                }
                else if (appUser.IsSupportAgent)
                {
                    <span>En línea: <br> Agente de Soporte</span>
                }
                else if (appUser.IsSupportEngineer)
                {
                    <span>En línea: <br> Ing. de Soporte</span>
                }
            </a>
        </div>
    </div>
}
