@{
    ViewData["Title"] = "Generar códigos de recuperación para la autenticación de dos factores (2FA)";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Esta acción genera nuevos códigos de recuperación.</strong>
    </p>
    <p>
        Si pierdes tu dispositivo y no tienes los códigos de recuperación perderás el acceso a tu cuenta.
    </p>
    <p>
        Generar nuevos códigos de recuperación no cambia las claves usadas en las aplicaciones autenticadoras. Si deseas cambiar la clave
        usada en una aplicación autenticadora, deberías <a asp-action="ResetAuthenticatorWarning">restablecer tus claves de autenticador.</a>
    </p>
</div>

<div>
    <form asp-action="GenerateRecoveryCodes" method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Generar Códigos de Recuperación</button>
    </form>
</div>
