@{
    ViewData["Title"] = "Restablecer clave del autenticador";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Si restableces tu clave de autenticador, tu aplicación de autenticación no funcionará hasta que la reconfigures.</strong>
    </p>
    <p>
        Este proceso desactiva la 2FA hasta que verifiques tu aplicación de autenticador y también restablecerá tus códigos de recuperación de 2FA.
        Si no completas la configuración de tu aplicación de autenticador, podrías perder el acceso a tu cuenta.
    </p>
</div>
<div>
    <form asp-action="ResetAuthenticator" method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Restablecer clave del autenticador</button>
    </form>
</div>
