@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    San Rafael<br />
    Heredia<br />
    <abbr title="Teléfono">P:</abbr>
    (506)8703-0596
</address>

<address>
    <strong>Support:</strong> <a href="mailto:steven.vega.borbon@gmail.com">steven.vega.borbon@gmail.com</a><br />
</address>
